@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">kia Ora Ajinesh and Mahul is now in the master branch </h1>
=======
    <h1 class="display-4">kia Ora Ajinesh and Mahul. Mahul is using the feature branch for this!. Im making a second change. </h1>
>>>>>>> feature
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
